<div class="container">
  <div class="card-appointment">
    <div class="card-appointment-text">
      <h5>Reserver une consultation avec votre therapeute :</h5>
    </div>
    <div class="card-appointment-search">
    </div>
  </div>
</div>

<% if user_signed_in? %>
   <div class="container">
      <div class="container-presentation">
        <h4>My Nath: <br> au service de votre santé</h4>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429802/development/e293c03bd4b367efb62c_pmkdtd.svg" %>
        <p>Accédez <strong>rapidement</strong> aux disponibilités de tous vos professionnels de santé</p>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429803/development/414f6d548cd8e7420ec2_get5kj.svg" %>
        <p>Prenez des décisions <strong>éclairées</strong> et adaptées à vos besoins de santé </p>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429803/development/27df8684b01bff357f01_sw6quk.svg" %>
        <p>Gérez vos <strong>rendez-vous</strong> et <strong>documents</strong> de santé ainsi que ceux de vos proches sur une même application</p>
      </div>
    </div>
<% else %>
    <div class="container">
      <div class="container-presentation">
        <h4>My Nath: <br> au service de votre santé</h4>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429802/development/e293c03bd4b367efb62c_pmkdtd.svg" %>
        <p>Accédez <strong>rapidement</strong> aux disponibilités de tous vos professionnels de santé</p>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429803/development/414f6d548cd8e7420ec2_get5kj.svg" %>
        <p>Prenez des décisions <strong>éclairées</strong> et adaptées à vos besoins de santé </p>
        <%= image_tag"https://res.cloudinary.com/lewagonss/image/upload/v1647429803/development/27df8684b01bff357f01_sw6quk.svg" %>
        <p>Gérez vos <strong>rendez-vous</strong> et <strong>documents</strong> de santé ainsi que ceux de vos proches sur une même application</p>
      </div>
    </div>
  <% end %>
