<div class="consultation">
  <div
    class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @appointment.url_room %>"
    data-token="<%= @token %>"
    >
    <div class="participant"></div>
    <video id="userVideo" autoplay muted="true" ></video>
  </div>

  <div class="button-visio-center">
     <%  if current_user.therapist == true %>
    <button id='leave-btn' class='button-viso btn'><i class="fa-solid fa-phone-slash"></i></button>
    <div>
      <%= link_to 'Quittez', therapist_appointment_path(therapist_id: @appointment.therapist.id, id: @appointment.id), class: 'd-none root-link', data: {turbolinks: false}  %>
    </div>
      <%else%>
      <button id='leave-btn' class='button-viso btn'><i class="fa-solid fa-phone-slash"></i></button>
      <div>
      <%= link_to 'Quittez', prescriptions_path, class: 'd-none root-link', data: {turbolinks: false}   %>
    </div>
    <% end %>
  </div>
</div>
