<div class="container mt-5 text-center">
  <div>
    <h1>Les Feedbacks</h1>
  </div>
  <div>
  <table>
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
    <tr>
        <% if @feedbacks %>
          <% @feedbacks.each do |feedback| %>
            <% if  feedback.review_patient %>
              <div class="mt-1 listing-gris">
                <div class = "d-flex justify-content-around">
                  <h4><strong><%= feedback.date_time.strftime("%d/%m/%Y") %></strong></h4>
                  <div class ="d-flex">
                    <h4><%= @appointment.user.first_name %>&nbsp;</h4>
                    <h4><%= @appointment.user.last_name %></h4>
                  </div>
                </div>
                <p><%= feedback.review_patient %></p>

              </div>
            <% end %>
            <% if  feedback.review_therapist %>
              <div class="mt-1 listing-vert">
                <div class = "d-flex justify-content-around">
                  <h4><strong><%= feedback.date_time.strftime("%d/%m/%Y") %></strong></h4>
                  <div class ="d-flex">
                    <h4><%= @appointment.therapist.first_name  %>&nbsp;</h4>
                    <span>
                    <h4><%= @appointment.therapist.last_name %></h4>
                  </div>
                </div>
                <p><%= feedback.review_therapist %></p>

              </div>
          <% end %>
          <% end %>
        <% end %>
    </tr>
    </tbody>
  </table>
  <br>
    <div>
      <%= simple_form_for([@appointment, @feedback]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <% if current_user.therapist == true  %>
          <%= f.input :review_therapist, label: 'Ajouter votre feedback' %>
        <% else %>
          <%= f.input :review_patient, label: 'Ajouter votre feedback' %>
        <% end %>
        <div class="form-actions">
           <%= f.button :submit,"ajoutez feedback", class: "button-vert" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
