<div class="container-form">
  <div>
    <h1>Les Feedbacks</h1>
  </div>
  <div>
  <table>
    <thead>
      <tr>



        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <% if @feedbacks %>
          <% @feedbacks.each do |feedback| %>
            <tr>
            
            <% if  feedback.review_patient %>
              <div class="mt-1 listing">
                <div class = "d-flex justify-content-around">
                  <h4><strong><%= feedback.date_time %></strong></h4>
                  <div class ="d-flex">
                    <h4><%= current_user.first_name  %></h4>
                    <span>
                    <h4><%= current_user.last_name %></h4>
                  </div>
                </div>
                <p><%= feedback.review_patient %></p>
              </div>
            <% end %>
            <% if  feedback.review_therapist %>
              <div class="mt-1 listing">
                <div class = "d-flex justify-content-around">
                  <h4><strong><%= feedback.date_time %></strong></h4>
                  <div class ="d-flex">
                    <h4><%= current_user.first_name  %></h4>
                    <span>
                    <h4><%= current_user.last_name %></h4>
                  </div>
                </div>
                <p><%= feedback.review_therapist %></p>
              </div>
            </tr>
          <% end %>
        <% end %>
    </tr>
    </tbody>
  </table>
    <div>
      <%= simple_form_for([@appointment, @feedback]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <% if current_user.therapist == true  %>
          <%= f.input :review_therapist, label: 'Ajouter votre feedback(thérapeute)' %>
        <% else %>
          <%= f.input :review_patient, label: 'Ajouter votre feedback(patient)' %>
        <% end %>
        <div class="form-actions">
           <%= f.button :submit,"ajoutez feedback", class: "button-vert" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
