
<div class = "container-form">
  <h1>Vos consultations</h1>


  <% @appointments.each do |appointment| %>
  <tr>

      <% if appointment.users_id == current_user.id %>
      <h4><%= appointment.therapist.last_name %> <%= appointment.therapist.first_name %></h4>
      <p><%= appointment.therapist.email %></p>
      <p><%= appointment.therapist.speciality %></p>
      <p><%= appointment.date_time %></p>
      <% end %>
  </tr>
  <p class= "button-vert">
  <%= link_to 'New appointment', new_therapist_appointment_path(appointment.therapist) %>
  </p>

  <% end %>


</div>
