<h2>Réservez votre Rendez-vous</h2>

// calendrier du therapist

<%= simple_form_for([@therapist, @appointment]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="">
    <%= f.input :starting_date %>
  </div>

  <div class="">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>

<% end %>
