
<div class="container mt-5 text-center">
  <h1 class="mb-3">Vos consultations</h1>

  <% if @appointments.empty? && @patient_appointments.empty? %>
    <h4>Vous n'avez pas encore de rendez-vous...</h4>
     <%= link_to "Cliquez-ici", therapists_path, class: "text-decoration-none" %>

  <% else %>
    <% if current_user.therapist == true %>
       <% @appointments.reverse_each do |appointment| %>
        <%= link_to therapist_appointment_path(therapist_id: appointment.therapist.id, id: appointment.id), class: "text-decoration-none" do %>
          <div class="d-flex">
            <div class="d-flex mt-1 listing">
            <h4 class="listing-elements"><%= appointment.user.last_name %> <%= appointment.user.first_name %></h4>
            <p class="listing-elements"><%= appointment.date_time.strftime("%d/%m/%y") %> <%= appointment.time.strftime("à %I:%M %p") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>
<% end %>
</div>
