<div>
    <h2>Votre rendez-vous, recap'</h2>

  <% if current_user.therapist == true %>
    <%= link_to 'Ajouter une ordonnance', new_appointment_prescription_path(@appointment), class:"button-vert" %>
    <%= link_to 'Ajouter un feedback', appointment_feedbacks(@appointment), class:"button-vert" %>

  <% else %>

    <div class="card-appointment card-show-appointment">
      <% if DateTime.now > @appointment.date_time %>
      <h4>Vous pourrez assistez à votre rendez-vous du <%= @appointment.date_time.strftime("%d/%m/%Y") %> avec <%= @therapist.first_name %> <%= @therapist.last_name %> en cliquant ci-dessous :</h4>
      <br>
      <%= link_to 'Votre consultation en vidéo', appointment_visio_path(@appointment), class:"button-vert" %>
      <%= link_to 'Modifier et/ou annuler votre rendez-vous', root_path, class:"button-vert" %>
      <br>
      <br>
      <h4>Votre rendez-vous du <br> <%= @appointment.date_time.strftime("%d/%m/%Y")%> à <%= @appointment.date_time.strftime("%I:%M%p")%> <br> avec <%= @therapist.first_name %> <%= @therapist.last_name %></h4>
      <br>
      <%= link_to 'Les ordonnances', prescriptions_path(@appointment), class:"button-vert" %>
      <%= link_to 'Les feedbacks', appointment_feedbacks_path(@appointment), class:"button-vert" %>

      <% else %>
      <h4>Vous pourrez assistez à votre rendez-vous du <%= @appointment.date_time.strftime("%d/%m/%Y") %> avec <%= @therapist.first_name %> <%= @therapist.last_name %> en cliquant ci-dessous :</h4>
      <br>
          <%= link_to 'Votre consultation en vidéo', appointment_visio_path(@appointment), class:"button-vert" %>
          <%= link_to 'Modifier et/ou annuler votre rendez-vous', root_path, class:"button-vert" %>
      <% end %>
    </div>
  <% end %>
</div>
